* {
    box-sizing: border-box;
}

body {
    background-color: #192428;
}

#header, #content, #footer {
    padding: 20px;
}

#header {
    background-color: #414c50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header h1,
#header h2 {
    margin: 5px 0;
}

#header a {
    color: #ffffff;
}

#header h2 {
    color: #ffffff;
}

#container {
    background-color: #0784b5;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    background-color: #39ace7;
    width: 100%;
    overflow: hidden;
}

.newsnotes h1 {
    text-align: center;
}

.newsnotes h2 {
    font-size: large;
    text-align: center;
}

.newsnotes #content h3 {
    text-decoration: underline;
}

#animeChrist img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    background-color: #414c50;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: large;
    margin: 0 15px;
    display: inline-block;
}

#footer a:hover {
    text-decoration: underline;
}
